<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Robin Hutmacher">
    <link rel="icon" href="../../favicon.ico">

    <title>Target - Ebay Search</title>

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}" />
    <script src="/static/js/func.js"></script>
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Target</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>
          </div><!--/.nav-collapse -->
  </div>
  </nav>


  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <form method="post" action="/target" class="form-horizontal">
                  <div class="form-group">
                      <label for="title" class="control-label
                          col-xs-2">{{form.title.label}}</label>  
                      <div class="col-xs-12">
                        {{form.title}}
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="title" class="control-label
                          col-xs-2">{{form.keywords.label}}</label>  
                      <div class="col-xs-12">
                        {{form.keywords}}
                      </div>
                  </div>
                  <input type="submit">
              </form>
              <ul class="nav nav-sidebar">
                  {% if search is not none %}
                    {% for search in searches %}
                    <li>
                        <a href="/target/{{search.url}}">
                            <button class="btn btn-default btn-xs"
                                onclick="removeSearch('{{search.url}}')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            {{search.title}}
                        </a>
                    </li>
                    {% endfor %}
                  {% else %}
                    NONE
                  {% endif %}
              </ul>
          </div>

          <div class="col-sm-9">
              <div class="starter-template">
                  {% if results is not none %}
                      {% for result in results %}
                      <p> 
                      <a href='{{result.viewItemURL}}'>{{result.title}}</a> - {{result.sellingStatus.currentPrice.value}}
                      <a onclick="ignoreItem({{result.itemId}})"><i class="glyphicon glyphicon-remove remove-item"></i></a>
                      </p>
                      {% endfor %}
                  {% else %}
                    NONE
                  {% endif %}
              </div>
          </div>
      </div>
  </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>
  </body>
</html>
